[user]
	name = vic1707
	email = 28602203+vic1707@users.noreply.github.com
[init]
	defaultBranch = main
[submodule]
	recurse = true
[core]
	ignorecase = false
	fileMode = false
[alias]
  lg = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	sb = status -sb
[help]
	autocorrect = 3
