## MacOS specifics ##
.DS_Store

## Linux specifics ##

# Misc
shell/zsh/.zsh-plugins/*

## Contains sensitive information ##
.config/aio/creds.yaml

## Undotree nvim plugin ##
.config/nvim/undodir

## Tmux plugins ##
.config/tmux/plugins/*